@use 'css/v.1.0/VMF';
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Effective on block elements only */
/* @rule: all this classes must start with the 'b-' prefix. */
.z1 {
  z-index: 1001;
}

.z2 {
  z-index: 1002;
}

.z3 {
  z-index: 1003;
}

.z4 {
  z-index: 1004;
}

.z5 {
  z-index: 1005;
}

.z6 {
  z-index: 1006;
}

.z7 {
  z-index: 1007;
}

.z8 {
  z-index: 1008;
}

.z9 {
  z-index: 1009;
}

/* Ruling the positionning layouts for every elements */
h1 {
  line-height: 1.5;
  font-size: 3.6em;
  font-weight: 800;
}

h2 {
  line-height: 1.5;
  font-size: 3em;
  font-weight: 700;
}

h3 {
  line-height: 1.5;
  font-size: 2.4em;
  font-weight: 600;
}

h4 {
  line-height: 1.5;
  font-size: 1.8em;
  font-weight: 500;
}

h5 {
  line-height: 1.5;
  font-size: 1.2em;
  font-weight: 400;
}

h6 {
  line-height: 1.5;
  font-size: 0.6em;
  font-weight: 300;
}

/* Settlement of the heading sizes for all the necessary sub-blocks. */
.t-col-1 {
  -webkit-columns: 1;
          columns: 1;
  -webkit-column-fill: balance;
          column-fill: balance;
  -webkit-column-rule: 2px double red;
          column-rule: 2px double red;
}

.t-col-2 {
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-fill: balance;
          column-fill: balance;
  -webkit-column-rule: 2px double red;
          column-rule: 2px double red;
}

.t-col-3 {
  -webkit-columns: 3;
          columns: 3;
  -webkit-column-fill: balance;
          column-fill: balance;
  -webkit-column-rule: 2px double red;
          column-rule: 2px double red;
}

.t-col-max {
  -webkit-column-span: all;
          column-span: all;
}

.t-rotate-upright {
  text-orientation: upright;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.t-trans-cap {
  text-transform: capitalize;
}

.t-trans-up {
  text-transform: uppercase;
}

.t-trans-low {
  text-transform: lowercase;
}

/* Settlement of the text parts that needs useful stylings. */
/* @rule: Make sure to make it responsive for all elements to make sure it is usable on smaller screens */
/* @rule: all this classes must start with the 't-col-' prefix. */
.bg-dark {
  background-color: rgba(234, 237, 243, 0.8);
  color: rgba(50, 49, 51, 0.7);
}

/* Coloring rules and classes */
/* @rule: all classes with 'bg-' prefix are set for the background objects. This will also need implementation of SASS*/
::-moz-selection {
  background-color: #fff;
  color: #000;
}
::selection {
  background-color: #fff;
  color: #000;
}

/* Mouse selected elements */
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy S6 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Google Pixel XL ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- HTC One ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Windows Phone ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPad Pro 10.5" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* ----------- iPad Pro 12.9" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
/* ----------- Galaxy Tab 2 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Galaxy Tab S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Nexus 7 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Nexus 9 ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Kindle Fire HD 7" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Kindle Fire HD 8.9" ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- Non-Retina Screens ----------- */
/* ----------- Retina Screens ----------- */
/* The laptops come with a sizing range and a double standard known as retina. We have to keep in mind that the retina display is the new normal. It might seem useless to precise it in the future. */
/* ----------- Apple Watch ----------- */
@media only screen and (min-device-width: 320px), only screen and (orientation: portrait) and (min-device-width: 320px), only screen and (orientation: landscape) and (min-device-width: 480px) and (max-device-width: 812px) {
  .w1 {
    width: 50%;
  }
}

@media only screen and (min-device-width: 768px), only screen and (orientation: portrait) and (min-device-width: 768px), only screen and (orientation: landscape) and (min-device-width: 1024px) and (max-device-width: 1336px) {
  .w1 {
    width: 33.33333%;
  }
}

@media only screen and (min-device-width: 1200px) {
  .w1 {
    width: 16.66667%;
  }
}

@media only screen and (min-device-width: 320px), only screen and (orientation: portrait) and (min-device-width: 320px), only screen and (orientation: landscape) and (min-device-width: 480px) and (max-device-width: 812px) {
  .w2 {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px), only screen and (orientation: portrait) and (min-device-width: 768px), only screen and (orientation: landscape) and (min-device-width: 1024px) and (max-device-width: 1336px) {
  .w2 {
    width: 66.66667%;
  }
}

@media only screen and (min-device-width: 1200px) {
  .w2 {
    width: 33.33333%;
  }
}

@media only screen and (min-device-width: 320px), only screen and (orientation: portrait) and (min-device-width: 320px), only screen and (orientation: landscape) and (min-device-width: 480px) and (max-device-width: 812px) {
  .w3 {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px), only screen and (orientation: portrait) and (min-device-width: 768px), only screen and (orientation: landscape) and (min-device-width: 1024px) and (max-device-width: 1336px) {
  .w3 {
    width: 100%;
  }
}

@media only screen and (min-device-width: 1200px) {
  .w3 {
    width: 50%;
  }
}

@media only screen and (min-device-width: 320px), only screen and (orientation: portrait) and (min-device-width: 320px), only screen and (orientation: landscape) and (min-device-width: 480px) and (max-device-width: 812px) {
  .w4 {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px), only screen and (orientation: portrait) and (min-device-width: 768px), only screen and (orientation: landscape) and (min-device-width: 1024px) and (max-device-width: 1336px) {
  .w4 {
    width: 100%;
  }
}

@media only screen and (min-device-width: 1200px) {
  .w4 {
    width: 66.66667%;
  }
}

@media only screen and (min-device-width: 320px), only screen and (orientation: portrait) and (min-device-width: 320px), only screen and (orientation: landscape) and (min-device-width: 480px) and (max-device-width: 812px) {
  .w5 {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px), only screen and (orientation: portrait) and (min-device-width: 768px), only screen and (orientation: landscape) and (min-device-width: 1024px) and (max-device-width: 1336px) {
  .w5 {
    width: 100%;
  }
}

@media only screen and (min-device-width: 1200px) {
  .w5 {
    width: 83.33333%;
  }
}

@media only screen and (min-device-width: 320px), only screen and (orientation: portrait) and (min-device-width: 320px), only screen and (orientation: landscape) and (min-device-width: 480px) and (max-device-width: 812px) {
  .w6 {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px), only screen and (orientation: portrait) and (min-device-width: 768px), only screen and (orientation: landscape) and (min-device-width: 1024px) and (max-device-width: 1336px) {
  .w6 {
    width: 100%;
  }
}

@media only screen and (min-device-width: 1200px) {
  .w6 {
    width: 100%;
  }
}

.row, .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row.hor-cen, .col.hor-cen {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.ver-cen, .col.ver-cen {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row.hor-start, .col.hor-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.row.ver-start, .col.ver-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row.hor-end, .col.hor-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row.ver-end, .col.ver-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.row.hor-btw, .col.hor-btw {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row.ver-btw, .col.ver-btw {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.row.hor-ard, .col.hor-ard {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row.ver-ard, .col.ver-ard {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.row.hor-even, .col.hor-even {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.row.ver-even, .col.ver-even {
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

html {
  font-size: 17px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: calc(17px + 3 * ((100vw - 768px) / 432));
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

/* This is not a definite version yet of this tool since we have other alternatives that might be better fitting to our cases. */
input[type=file] {
  opacity: 1;
  width: .0001px;
  height: .0001px;
}

.input-file {
  display: inline-block;
  border-radius: .4vw;
  border: #32313388 solid .5px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 3vw;
  padding-left: .5vw;
  max-width: 300px;
  cursor: pointer;
  position: relative;
  /*

    <label class="input-file">
        <input type="file" name="" multiple>
        <span>Choose File</span>
        <br>
        <div class="resp"></div>
    </label>

    */
  /*
    
    // Input File response
    $('input[type=file]').change( () => {
        let path = $('input[type=file]').prop('value')
        let filename = path.replace(/^.*\\/, "")
        $('input[type=file]').siblings('.resp').html(filename)
    });

    */
}

.input-file:hover {
  -webkit-box-shadow: #323133aa 0 0 1px inset;
          box-shadow: #323133aa 0 0 1px inset;
}

.input-file .material-icons {
  position: absolute;
  top: 50%;
  right: .5vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-left: #32313388 solid .5px;
  padding-left: .3vw;
}

.input-file .resp {
  font-size: 70%;
  overflow: hidden;
}
/*# sourceMappingURL=test.css.map */