$colors: (
    textColor: #323133,
    backgroundColor: #e9e9e9,

    // my colors
    light: #fefcfb,
    dark: #212121,

    pri: #5484f4
);

$colors-dark: (
    textColor: #fefcfb,
    backgroundColor: #323133,
    
    // my colors
    light: #212121,
    dark: #fefcfb
);

